              <div class="col-sm-3 offset-sm-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                  <p>"There is a time for silence. There is a time for waiting your turn. But if you know how you feel, and you so clearly know what you need to say, you'll know it.</p>
                  <p>I don't think you should wait. I think you should <b>speak now"</b></p>
                  <p>- Taylor Swift</p>
                </div>
                
                <div class="sidebar-module">
                  <h4>Elsewhere</h4>
                  <ol class="list-unstyled social_links">
                    <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
                    <li><a href="https://twitter.com/"><%= fa_icon "twitter" %></a></li>
                    <li><a href="https://facebook.com/"><%= fa_icon "facebook" %></a></li>
                    <li><a href="https://instagram.com/"><%= fa_icon "instagram" %></a></li>
                    <li><a href="https://pinterest.com/"><%= fa_icon "pinterest" %></a></li>
                    <li><a href="https://www.youtube.com/channel/UC0p6yAztJ7y4JDf_cn8UY_g"><%= fa_icon "youtube" %></a></li>
                    <li><a href="https://tumblr.com/"><%= fa_icon "tumblr" %></a></li>                    
                  </ol>
                </div>
              </div>