<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'shared/portfolio_nav' %>

<%= render 'shared/portfolio_masthead' unless logged_in? (:site_admin) %>

<%= render 'shared/nav', location: 'top' %>

<%= alerts %>


    <%= yield %>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <%= link_to "View All Portfolio Items", portfolios_path %> |
          <a href="#">Back to top</a>
        </p>
        <p> &copy; 2017 | <b>Sage Mercedes</b> All rights reserved</p>
      </div>
    </footer>

    <%= source_helper("application") %>
  </body>
</html>